Package: com.insanj.circlet
Name: Circlet
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: A simpler status bar, one circle at a time.
Maintainer: insanj <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CRPrefs.bundle/icon@2x.png
