<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>

        <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>label</key>        <string>Style</string>
            <key>footerText</key>   <string>Radial fills right-to-left like a clock (◔), Fill fills from bottom to top (◒), and Concentric expands and contracts an inner-circle (⦿). Inverting flips how the circle fills (empties from right to left, fills from top to bottom, expands and contracts a hollow circle).</string>
        </dict>

        <dict>
            <key>cell</key>         <string>PSSegmentCell</string>
            <key>defaults</key>     <string>com.insanj.circlet</string>
            <key>id</key>           <string>BatteryStyle</string>
            <key>key</key>          <string>batteryStyle</string>
            <key>label</key>        <string>Style</string>
            <key>cellClass</key>    <string>CRSegmentTableCell</string>
            <key>validTitles</key>  <array>
                <string>Radial</string>
                <string>Fill</string>
                <string>Concentric</string>
            </array>
            <key>validValues</key> <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Invert Style</string>
            <key>key</key>              <string>batteryInvert</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <false/>
        </dict>

        <dict>
            <key>cell</key>           <string>PSGroupCell</string>
            <key>footerText</key>     <string>Make sure to tap Apply Settings in the main area to see your changes.</string>
        </dict>

		<dict>
			<key>cell</key>  	  	<string>PSSegmentCell</string>
			<key>defaults</key>     <string>com.insanj.circlet</string>
			<key>id</key> 		 	<string>BatterySize</string>
			<key>key</key> 			<string>batterySize</string>
			<key>label</key> 		<string>Size</string>
            <key>cellClass</key>    <string>CRSegmentTableCell</string>
			<key>validTitles</key>  <array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>validValues</key> <array>
				<real>3.0</real>
				<real>5.0</real>
				<real>6.0</real>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
    		<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>batteryLightColor</string>
			<key>label</key> 		<string>Light Color</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorValues:</string>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
    		<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>batteryDarkColor</string>
			<key>label</key> 		<string>Dark Color</string>
            <key>titlesDataSource</key>  <string>darkColorTitles:</string>
            <key>valuesDataSource</key>  <string>darkColorValues:</string>
		</dict>

		<dict>
            <key>cell</key>  		<string>PSLinkListCell</string>
            <key>defaults</key> 	<string>com.insanj.circlet</string>
            <key>detail</key> 	  	<string>CRListItemsController</string>
            <key>key</key> 		 	<string>chargingLightColor</string>
            <key>label</key> 	   	<string>Charging Light Color</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorValues:</string>
		</dict>

		<dict>
		<key>cell</key>  		    <string>PSLinkListCell</string>
		<key>defaults</key> 	    <string>com.insanj.circlet</string>
			<key>detail</key> 	    <string>CRListItemsController</string>
			<key>key</key> 		    <string>chargingDarkColor</string>
			<key>label</key> 		<string>Charging Dark Color</string>
            <key>titlesDataSource</key>  <string>darkColorTitles:</string>
            <key>valuesDataSource</key>  <string>darkColorValues:</string>
		</dict>

    </array>
    <key>title</key>    <string>Battery</string>
</dict>

</plist>
