<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>

		<dict>
			<key>cell</key>		 	    <string>PSGroupCell</string>
			<key>label</key> 			<string>Configure</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Signal</string>
			<key>key</key> 				<string>signalEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<true/>
            <key>PostNotification</key> <string>com.insanj.circlet/Sides</string>
		</dict>

        <dict>
            <key>cell</key>              <string>PSLinkListCell</string>
            <key>defaults</key>          <string>com.insanj.circlet</string>
            <key>detail</key>            <string>CRSignalPrefsListController</string>
            <key>label</key>             <string>Adjustments</string>
            <key>id</key>         	 	 <string>SignalAdjustments</string>
        </dict>

        <dict>
			<key>cell</key>		 	    <string>PSGroupCell</string>
			<key>footerText</key>	 	<string>Whitespace hides the carrier.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Carrier</string>
			<key>key</key> 				<string>carrierEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
            <key>PostNotification</key> <string>com.insanj.circlet/Sides</string>
		</dict>

        <dict>
            <key>cell</key>              <string>PSEditTextCell</string>
            <key>cellClass</key>         <string>CREditTextCell</string>
            <key>defaults</key>          <string>com.insanj.circlet</string>
            <key>label</key>             <string>Carrier Text</string>
            <key>id</key>         	 	 <string>CarrierText</string>
			<key>key</key> 				 <string>carrierText</string>
            <key>placeholder</key> 		 <string>ℒ, o, ⓥ, etc.</string>
            <key>noAutoCorrect</key> 	 <true/>
            <key>PostNotification</key>  <string>com.insanj.circlet/Sides</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSGroupCell</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Wifi</string>
            <key>key</key>              <string>wifiEnabled</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <false/>
            <key>PostNotification</key> <string>com.insanj.circlet/Sides</string>
        </dict>

        <dict>
            <key>cell</key>              <string>PSLinkListCell</string>
            <key>defaults</key>          <string>com.insanj.circlet</string>
            <key>detail</key>            <string>CRWifiPrefsListController</string>
            <key>label</key>             <string>Adjustments</string>
            <key>id</key>         	 	 <string>WifiAdjustments</string>
        </dict>

         <dict>
            <key>cell</key>             <string>PSGroupCell</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Data</string>
            <key>key</key>              <string>dataEnabled</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <false/>
            <key>PostNotification</key> <string>com.insanj.circlet/Sides</string>
        </dict>

        <dict>
            <key>cell</key>              <string>PSLinkListCell</string>
            <key>defaults</key>          <string>com.insanj.circlet</string>
            <key>detail</key>            <string>CRDataPrefsListController</string>
            <key>label</key>             <string>Adjustments</string>
            <key>id</key>                <string>DataAdjustments</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSGroupCell</string>
        </dict>

        <dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Time</string>
			<key>key</key> 				<string>timeEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
            <key>PostNotification</key> <string>com.insanj.circlet/Center</string>
		</dict>

        <dict>
            <key>cell</key>              <string>PSLinkListCell</string>
            <key>defaults</key>          <string>com.insanj.circlet</string>
            <key>detail</key>            <string>CRTimePrefsListController</string>
            <key>label</key>             <string>Adjustments</string>
            <key>id</key>         	 	 <string>TimeAdjustments</string>
        </dict>

		<dict>
			<key>cell</key>		 	<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Battery</string>
			<key>key</key> 				<string>batteryEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
            <key>PostNotification</key> <string>com.insanj.circlet/Sides</string>
		</dict>

        <dict>
            <key>cell</key>              <string>PSLinkListCell</string>
            <key>defaults</key>          <string>com.insanj.circlet</string>
            <key>detail</key>            <string>CRBatteryPrefsListController</string>
            <key>label</key>             <string>Adjustments</string>
            <key>id</key>         	 	 <string>BatteryAdjustments</string>
        </dict>

		<dict>
			<key>cell</key>				  <string>PSGroupCell</string>
			<key>label</key> 			  <string>About</string>
			<key>footerAlignment</key> 	  <integer>1</integer>
			<key>footerText</key>		  <string>Thanks for using Circlet! Please send all feedback and support directly from Cydia.</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>Developer</string>
			<key>icon</key> 	    <string>twitter.png</string>
			<key>action</key>  		<string>twitter</string>
		</dict>

        <dict>
            <key>cell</key>         <string>PSButtonCell</string>
            <key>label</key>        <string>Website</string>
            <key>icon</key>         <string>icon.png</string>
            <key>action</key>       <string>website</string>
        </dict>

		<dict>
			<key>cell</key>				<string>PSGroupCell</string>
            <key>footerText</key>       <string>© 2014 Julian Weiss</string>
		</dict>

		<dict>
			<key>cell</key> 			<string>PSStaticTextCell</string>
			<key>cellClass</key>		<string>CRCreditsCell</string>
			<key>height</key> 	  	    <integer>144</integer>
		</dict>

	</array>
	<key>title</key>	<string>Circlet</string>
</dict>
</plist>
