<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
         <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>label</key>        <string>Style</string>
        </dict>

        <dict>
            <key>cell</key>         <string>PSSegmentCell</string>
            <key>defaults</key>     <string>com.insanj.circlet</string>
            <key>id</key>           <string>SignalStyle</string>
            <key>key</key>          <string>signalStyle</string>
            <key>label</key>        <string>Style</string>
            <key>cellClass</key>    <string>CRSegmentTableCell</string>
            <key>PostNotification</key>  <string>com.insanj.circlet/ReloadPrefs</string>
            <key>validTitles</key> <array>
                <string>Radial</string>
                <string>Fill</string>
                <string>Concentric</string>
                <string>Textual</string>
            </array>
            <key>validValues</key> <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
            </array>
        </dict>

         <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>footerText</key>   <string>Radial fills left-to-right like a clock, Fill fills from bottom to top, Concentric expands and contracts an inner-circle, and Textual encircles text. Inverting reverses how the circle fills.</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Invert Style</string>
            <key>key</key>              <string>signalInvert</string>
            <key>PostNotification</key>  <string>com.insanj.circlet/ReloadPrefs</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <false/>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Outline</string>
            <key>key</key>              <string>signalOutline</string>
            <key>PostNotification</key>  <string>com.insanj.circlet/ReloadPrefs</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <true/>
        </dict>

        <dict>
            <key>cell</key>         <string>PSGroupCell</string>
        </dict>

        <dict>
            <key>cellClass</key>            <string>HBStepperTableCell</string>
            <key>default</key>              <real>5.0</real>
            <key>label</key>                <string>%ipt Radius</string>
            <key>defaults</key>             <string>com.insanj.circlet</string>
            <key>key</key>                  <string>signalSize</string>
            <key>PostNotification</key>  <string>com.insanj.circlet/ReloadPrefs</string>
            <key>min</key>                  <real>3.0</real>
            <key>max</key>                  <real>10.0</real>
        </dict>

        <dict>
            <key>cell</key>         <string>PSGroupCell</string>
        </dict>

		<dict>
			<key>cell</key>  	   <string>PSLinkListCell</string>
			<key>defaults</key>    <string>com.insanj.circlet</string>
			<key>detail</key> 	   <string>CRListItemsController</string>
			<key>key</key> 	  	   <string>signalLightColor</string>
			<key>label</key> 	   <string>Color</string>
            <key>PostNotification</key>  <string>com.insanj.circlet/ReloadPrefs</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorValues:</string>
		</dict>

        <dict>
            <key>cell</key>             <string>PSGroupCell</string>
            <key>footerText</key>       <string>No respring required.</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Refresh Signal</string>
            <key>action</key>           <string>sidesReplenish</string>
        </dict>

    </array>
    <key>title</key>    <string>Signal</string>
</dict>

</plist>
