 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
         <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>label</key>        <string>Style</string>
        </dict>

        <dict>
            <key>cell</key>         <string>PSSegmentCell</string>
            <key>defaults</key>     <string>com.insanj.circlet</string>
            <key>id</key>           <string>TimeStyle</string>
            <key>key</key>          <string>timeStyle</string>
            <key>label</key>        <string>Time</string>
            <key>cellClass</key>    <string>CRSegmentTableCell</string>
            <key>validTitles</key> <array>
                <string>Radial</string>
                <string>Fill</string>
                <string>Concentric</string>
                <string>Textual</string>
            </array>
            <key>validValues</key> <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
            </array>
        </dict>

        <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>footerText</key>   <string>Hour appears on left, Minute on right.&#10;&#10;Radial fills left-to-right like a clock, Fill fills from bottom to top, Concentric expands and contracts an inner-circle, and Textual encircles text. Inverting reverses how the circle fills.</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Invert Style</string>
            <key>key</key>              <string>timeInvert</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <false/>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Outline</string>
            <key>key</key>              <string>timeOutline</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <true/>
        </dict>

        <dict>
            <key>cell</key>         <string>PSGroupCell</string>
        </dict>

        <dict>
            <key>cell</key>                 <string>PSSliderCell</string>
            <key>cellClass</key>            <string>CRSliderTableCell</string>
            <key>defaults</key>             <string>com.insanj.circlet</string>
            <key>id</key>                   <string>TimeSize</string>
            <key>key</key>                  <string>timeSize</string>
            <key>leftImage</key>            <string>tiny.png</string>
            <key>rightImage</key>           <string>big.png</string>
            <key>min</key>                  <real>3.0</real>
            <key>max</key>                  <real>10.0</real>
        </dict>

         <dict>
            <key>cell</key>         <string>PSGroupCell</string>
        </dict>

		<dict>
			<key>cell</key>  	   <string>PSLinkListCell</string>
			<key>defaults</key>    <string>com.insanj.circlet</string>
			<key>detail</key> 	   <string>CRListItemsController</string>
			<key>key</key> 		   <string>timeHourLightColor</string>
			<key>label</key> 	   <string>Hour Color</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorTitles:</string>
		</dict>

        <dict>
            <key>cell</key>        <string>PSLinkListCell</string>
            <key>defaults</key>    <string>com.insanj.circlet</string>
            <key>detail</key>      <string>CRListItemsController</string>
            <key>key</key>         <string>timeMinuteLightColor</string>
            <key>label</key>       <string>Minute Color</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorValues:</string>
        </dict>

         <dict>
            <key>cell</key>             <string>PSGroupCell</string>
            <key>footerText</key>       <string>No respring required.</string>
        </dict>

        <dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Refresh Time</string>
            <key>action</key>           <string>middleReplenish</string>
        </dict>

    </array>
    <key>title</key>    <string>Time</string>
</dict>

</plist>
