<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Signal</string>
			<key>footerText</key> 	<string>Simplify your signal strength indicator.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Enabled</string>
			<key>key</key> 				<string>signalEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<true/>
		</dict>
		
		<dict>
			<key>cell</key>  		<string>PSSegmentCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>key</key> 			<string>signalSize</string>
 			<key>label</key> 		<string>Size</string>
 			<key>validTitles</key> <array>
 				<string>Small (Default)</string>
 				<string>Medium</string>
 				<string>Large</string>
 			</array>
 			<key>validValues</key>
 			<array>
 				<real>12.0</real>
 				<real>10.0</real>
 				<real>8.0</real>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>signalLightColor</string>
 			<key>label</key> 		<string>Light Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string> 				<!-- 1 -->
 				<string>Black</string> 				<!-- 2 -->
 			 	<string>Blue</string> 				<!-- 3 -->
 			  	<string>Clear</string> 				<!-- 4 -->
 			  	<string>Fuchsia</string> 			<!-- 5 -->
 			  	<string>Grey</string> 				<!-- 6 -->
 			 	<string>Green</string> 				<!-- 7 -->
 			 	<string>Lime</string> 				<!-- 8 -->
 			 	<string>Maroon</string> 			<!-- 9 -->
 			 	<string>Navy</string>   			<!-- 10 -->
 			 	<string>Olive</string>  			<!-- 11 -->
 			 	<string>Orange</string>  			<!-- 12 -->
 			 	<string>Purple</string> 			<!-- 13 -->
 			 	<string>Red</string>  				<!-- 14 -->
 			 	<string>Silver</string> 			<!-- 15 -->
 			 	<string>Teal</string>  				<!-- 16 -->
 			 	<string>White (Default)</string> 	<!-- 17 -->
 				<string>Yellow</string> 			<!-- 18 -->
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
 				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>signalDarkColor</string>
 			<key>label</key> 		<string>Dark Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string>
 				<string>Black (Default)</string>
 			 	<string>Blue</string>
 			  	<string>Clear</string>
 			  	<string>Fuchsia</string>
 			  	<string>Grey</string>
 			 	<string>Green</string>
 			 	<string>Lime</string>
 			 	<string>Maroon</string>
 			 	<string>Navy</string>
 			 	<string>Olive</string>
 			 	<string>Orange</string>
 			 	<string>Purple</string>
 			 	<string>Red</string>
 			 	<string>Silver</string>
 			 	<string>Teal</string>
 			 	<string>White</string>
 				<string>Yellow</string>
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
 				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Data</string>
			<key>footerText</key> 	<string>Simplify your data strength indicator.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Enabled</string>
			<key>key</key> 				<string>wifiEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<true/>
		</dict>
		
		<dict>
			<key>cell</key>  		<string>PSSegmentCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>key</key> 			<string>wifiSize</string>
 			<key>label</key> 		<string>Size</string>
 			<key>validTitles</key> <array>
 				<string>Small (Default)</string>
 				<string>Medium</string>
 				<string>Large</string>
 			</array>
 			<key>validValues</key>
 			<array>
 				<real>12.0</real>
 				<real>10.0</real>
 				<real>8.0</real>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>wifiLightColor</string>
 			<key>label</key> 		<string>Wifi Light Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string>
 				<string>Black</string>
 			 	<string>Blue</string>
 			  	<string>Clear</string>
 			  	<string>Fuchsia</string>
 			  	<string>Grey</string>
 			 	<string>Green</string>
 			 	<string>Lime</string>
 			 	<string>Maroon</string>
 			 	<string>Navy</string>
 			 	<string>Olive</string>
 			 	<string>Orange</string>
 			 	<string>Purple</string>
 			 	<string>Red</string>
 			 	<string>Silver</string>
 			 	<string>Teal</string>
 			 	<string>White (Default)</string>
 				<string>Yellow</string>
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
 				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>wifiDarkColor</string>
 			<key>label</key> 		<string>Wifi Dark Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string>
 				<string>Black (Default)</string>
 			 	<string>Blue</string>
 			  	<string>Clear</string>
 			  	<string>Fuchsia</string>
 			  	<string>Grey</string>
 			 	<string>Green</string>
 			 	<string>Lime</string>
 			 	<string>Maroon</string>
 			 	<string>Navy</string>
 			 	<string>Olive</string>
 			 	<string>Orange</string>
 			 	<string>Purple</string>
 			 	<string>Red</string>
 			 	<string>Silver</string>
 			 	<string>Teal</string>
 			 	<string>White</string>
 				<string>Yellow</string>
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
 				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>


		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>dataLightColor</string>
 			<key>label</key> 		<string>Data Light Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string>
 				<string>Black</string>
 			 	<string>Blue</string>
 			  	<string>Clear</string>
 			  	<string>Fuchsia</string>
 			  	<string>Grey</string>
 			 	<string>Green</string>
 			 	<string>Lime</string>
 			 	<string>Maroon</string>
 			 	<string>Navy</string>
 			 	<string>Olive</string>
 			 	<string>Orange</string>
 			 	<string>Purple</string>
			 	<string>Red</string>
 			 	<string>Silver</string>
 			 	<string>Teal</string>
 			 	<string>White (Default)</string>
 				<string>Yellow</string>
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>


		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>dataDarkColor</string>
 			<key>label</key> 		<string>Data Dark Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string>
 				<string>Black (Default)</string>
 			 	<string>Blue</string>
 			  	<string>Clear</string>
 			  	<string>Fuchsia</string>
 			  	<string>Grey</string>
 			 	<string>Green</string>
 			 	<string>Lime</string>
 			 	<string>Maroon</string>
 			 	<string>Navy</string>
 			 	<string>Olive</string>
 			 	<string>Orange</string>
 			 	<string>Purple</string>
 			 	<string>Red</string>
 			 	<string>Silver</string>
 			 	<string>Teal</string>
 			 	<string>White</string>
 				<string>Yellow</string>
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Battery</string>
			<key>footerText</key> 	<string>Simplify your battery life indicator.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Enabled</string>
			<key>key</key> 				<string>batteryEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
		</dict>
		
		<dict>
			<key>cell</key>  		<string>PSSegmentCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>key</key> 			<string>batterySize</string>
 			<key>label</key> 		<string>Size</string>
 			<key>validTitles</key> <array>
 				<string>Small (Default)</string>
 				<string>Medium</string>
 				<string>Large</string>
 			</array>
 			<key>validValues</key>
 			<array>
 				<real>12.0</real>
 				<real>10.0</real>
 				<real>8.0</real>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>batteryLightColor</string>
 			<key>label</key> 		<string>Light Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string> 				<!-- 1 -->
 				<string>Black</string> 				<!-- 2 -->
 			 	<string>Blue</string> 				<!-- 3 -->
 			  	<string>Clear</string> 				<!-- 4 -->
 			  	<string>Fuchsia</string> 			<!-- 5 -->
 			  	<string>Grey</string> 				<!-- 6 -->
 			 	<string>Green</string> 				<!-- 7 -->
 			 	<string>Lime</string> 				<!-- 8 -->
 			 	<string>Maroon</string> 			<!-- 9 -->
 			 	<string>Navy</string>   			<!-- 10 -->
 			 	<string>Olive</string>  			<!-- 11 -->
 			 	<string>Orange</string>  			<!-- 12 -->
 			 	<string>Purple</string> 			<!-- 13 -->
 			 	<string>Red</string>  				<!-- 14 -->
 			 	<string>Silver</string> 			<!-- 15 -->
 			 	<string>Teal</string>  				<!-- 16 -->
 			 	<string>White (Default)</string> 	<!-- 17 -->
 				<string>Yellow</string> 			<!-- 18 -->
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
 				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
 			<key>detail</key> 		<string>CRListItemsController</string>
 			<key>key</key> 			<string>batteryDarkColor</string>
 			<key>label</key> 		<string>Dark Color</string>
 			<key>validTitles</key> <array>
 				<string>Aqua</string>
 				<string>Black (Default)</string>
 			 	<string>Blue</string>
 			  	<string>Clear</string>
 			  	<string>Fuchsia</string>
 			  	<string>Grey</string>
 			 	<string>Green</string>
 			 	<string>Lime</string>
 			 	<string>Maroon</string>
 			 	<string>Navy</string>
 			 	<string>Olive</string>
 			 	<string>Orange</string>
 			 	<string>Purple</string>
 			 	<string>Red</string>
 			 	<string>Silver</string>
 			 	<string>Teal</string>
 			 	<string>White</string>
 				<string>Yellow</string>
 			</array>

 			<key>validValues</key> <array>
				<integer>1</integer>
 				<integer>2</integer>
 			 	<integer>3</integer>
 			  	<integer>4</integer>
 			  	<integer>5</integer>
 			  	<integer>6</integer>
 			 	<integer>7</integer>
 			 	<integer>8</integer>
 			 	<integer>9</integer>
 			 	<integer>10</integer>
 			 	<integer>11</integer>
 			 	<integer>12</integer>
 			 	<integer>13</integer>
 			 	<integer>14</integer>
 			 	<integer>15</integer>
 				<integer>16</integer>
 				<integer>17</integer>
 				<integer>18</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			<string>Debug Logs</string>
			<key>key</key> 				<string>debugEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>Apply and Respring Now</string>
			<key>action</key>  		<string>apply:</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSGroupCell</string>
			<key>label</key> 			<string>Contact</string>
			<key>footerAlignment</key> 	<integer>1</integer>
			<key>footerText</key>		<string>Thanks for purchasing Circlet (1.0~beta1)!&#10;&#10;(CC) 2014 Julian Weiss</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSButtonCell</string>
			<key>label</key> 		<string>Support &amp; Feedback</string>
			<key>action</key> 		<string>mail</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@insanj</string>
			<key>action</key>  		<string>twitter</string>
		</dict>

	</array>
	<key>title</key>	<string>Circlet</string>
</dict>

</plist>
