<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>

		<dict>
			<key>cell</key>		 	<string>PSGroupCell</string>
			<key>label</key>		    <string>Signal</string>
			<key>footerText</key> 	  <string>Simplify your signal strength indicator.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			   <string>Enabled</string>
			<key>key</key> 				<string>signalEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
		</dict>

		<dict>
			<key>cell</key>  	  	<string>PSSegmentCell</string>
			<key>defaults</key> 	   <string>com.insanj.circlet</string>
			<key>id</key> 		 	<string>SignalSize</string>
			<key>key</key> 			<string>signalSize</string>
			<key>label</key> 	  	<string>Size</string>
			<key>validTitles</key> <array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>validValues</key> <array>
				<real>3.0</real>
				<real>5.0</real>
				<real>7.0</real>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key>  	<string>com.insanj.circlet</string>
			<key>detail</key> 	   <string>CRListItemsController</string>
			<key>key</key> 	  	<string>signalLightColor</string>
			<key>label</key> 		<string>Light Color</string>
			<key>validTitles</key> <array>
                    <string>Aqua</string> 				<!-- 1 -->
                    <string>Black</string> 				<!-- 2 -->
                    <string>Blue</string> 				<!-- 3 -->
                    <string>Clear</string> 				<!-- 4 -->
                    <string>Fuchsia</string> 			<!-- 5 -->
                    <string>Grey</string> 				<!-- 6 -->
                    <string>Green</string> 				<!-- 7 -->
                    <string>Lime</string> 				<!-- 8 -->
                    <string>Maroon</string> 			<!-- 9 -->
                    <string>Navy</string>   			<!-- 10 -->
                    <string>Olive</string>  			<!-- 11 -->
                    <string>Orange</string>  			<!-- 12 -->
                    <string>Purple</string> 			<!-- 13 -->
                    <string>Red</string>  				<!-- 14 -->
                    <string>Silver</string> 			<!-- 15 -->
                    <string>Teal</string>  				<!-- 16 -->
                    <string>White (Default)</string> 	<!-- 17 -->
                    <string>Yellow</string> 			<!-- 18 -->
 			</array>

			<key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key>  	<string>com.insanj.circlet</string>
			<key>detail</key> 	   <string>CRListItemsController</string>
			<key>key</key> 		  <string>signalDarkColor</string>
			<key>label</key> 		<string>Dark Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string>
                <string>Black (Default)</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White</string>
                <string>Yellow</string>
			</array>

			<key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		   <string>Wifi and Data</string>
			<key>footerText</key> 	 <string>Simplify your data strength indicator.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>		   	<string>Enabled</string>
			<key>key</key> 				<string>wifiEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSSegmentCell</string>
			<key>defaults</key> 	 <string>com.insanj.circlet</string>
			<key>id</key> 		   <string>WifiSize</string>
			<key>key</key> 		  <string>wifiSize</string>
			<key>label</key> 		<string>Size</string>
			<key>validTitles</key> <array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>validValues</key> <array>
				<real>3.0</real>
				<real>5.0</real>
				<real>7.0</real>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>wifiLightColor</string>
			<key>label</key> 		<string>Wifi Light Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string>
                <string>Black</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White (Default)</string>
                <string>Yellow</string>
			</array>

			<key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
    	</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>wifiDarkColor</string>
			<key>label</key> 		<string>Wifi Dark Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string>
                <string>Black (Default)</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White</string>
                <string>Yellow</string>
			</array>

			<key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>dataLightColor</string>
			<key>label</key> 		<string>Data Light Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string>
                <string>Black</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White (Default)</string>
                <string>Yellow</string>
			</array>

			<key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>dataDarkColor</string>
			<key>label</key> 		<string>Data Dark Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string>
                <string>Black (Default)</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White</string>
                <string>Yellow</string>
			</array>

            <key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>		 	<string>PSGroupCell</string>
			<key>label</key>		    <string>Battery</string>
			<key>footerText</key> 	  <string>Simplify your battery life indicator.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.circlet</string>
			<key>label</key>			   <string>Enabled</string>
			<key>key</key> 				<string>batteryEnabled</string>
			<key>enabled</key> 			<true/>
			<key>default</key> 			<false/>
		</dict>

		<dict>
			<key>cell</key>  	  	<string>PSSegmentCell</string>
			<key>defaults</key> 	   <string>com.insanj.circlet</string>
			<key>id</key> 		 	<string>BatterySize</string>
			<key>key</key> 			<string>batterySize</string>
			<key>label</key> 		  <string>Size</string>
			<key>validTitles</key> <array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>validValues</key> <array>
				<real>3.0</real>
				<real>5.0</real>
				<real>7.0</real>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
    		<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>batteryLightColor</string>
			<key>label</key> 		<string>Light Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string> 				<!-- 1 -->
                <string>Black</string> 				<!-- 2 -->
                <string>Blue</string> 				<!-- 3 -->
                <string>Clear</string> 				<!-- 4 -->
                <string>Fuchsia</string> 			<!-- 5 -->
                <string>Grey</string> 				<!-- 6 -->
                <string>Green</string> 				<!-- 7 -->
                <string>Lime</string> 				<!-- 8 -->
                <string>Maroon</string> 			<!-- 9 -->
                <string>Navy</string>   			<!-- 10 -->
                <string>Olive</string>  			<!-- 11 -->
                <string>Orange</string>  			<!-- 12 -->
                <string>Purple</string> 			<!-- 13 -->
                <string>Red</string>  				<!-- 14 -->
                <string>Silver</string> 			<!-- 15 -->
                <string>Teal</string>  				<!-- 16 -->
                <string>White (Default)</string> 	<!-- 17 -->
                <string>Yellow</string> 			<!-- 18 -->
			</array>

			<key>validValues</key> <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
    		<key>defaults</key> 	<string>com.insanj.circlet</string>
			<key>detail</key> 		<string>CRListItemsController</string>
			<key>key</key> 			<string>batteryDarkColor</string>
			<key>label</key> 		<string>Dark Color</string>
			<key>validTitles</key> <array>
                <string>Aqua</string>
                <string>Black (Default)</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White</string>
                <string>Yellow</string>
			</array>

    		<key>validValues</key> <array>
    		<integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
            <key>cell</key>  		   <string>PSLinkListCell</string>
            <key>defaults</key> 	    <string>com.insanj.circlet</string>
            <key>detail</key> 	  	<string>CRListItemsController</string>
            <key>key</key> 		 	<string>chargingLightColor</string>
            <key>label</key> 	   	<string>Charging Light Color</string>
            <key>validTitles</key>   <array>
                <string>Aqua</string> 				<!-- 1 -->
                <string>Black</string> 				<!-- 2 -->
                <string>Blue</string> 				<!-- 3 -->
                <string>Clear</string> 				<!-- 4 -->
                <string>Fuchsia</string> 			<!-- 5 -->
                <string>Grey</string> 				<!-- 6 -->
                <string>Green</string> 				<!-- 7 -->
                <string>Lime</string> 				<!-- 8 -->
                <string>Maroon</string> 			<!-- 9 -->
                <string>Navy</string>   			<!-- 10 -->
                <string>Olive</string>  			<!-- 11 -->
                <string>Orange</string>  			<!-- 12 -->
                <string>Purple</string> 			<!-- 13 -->
                <string>Red</string>  				<!-- 14 -->
                <string>Silver</string> 			<!-- 15 -->
                <string>Teal</string>  				<!-- 16 -->
                <string>White (Default)</string> 	<!-- 17 -->
                <string>Yellow</string> 			<!-- 18 -->
			</array>

			<key>validValues</key>   <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
			</array>
		</dict>

		<dict>
		<key>cell</key>  		    <string>PSLinkListCell</string>
		<key>defaults</key> 	     <string>com.insanj.circlet</string>
			<key>detail</key> 	   <string>CRListItemsController</string>
			<key>key</key> 		  <string>chargingDarkColor</string>
			<key>label</key> 		<string>Charging Dark Color</string>
			<key>validTitles</key>   <array>
                <string>Aqua</string>
                <string>Black (Default)</string>
                <string>Blue</string>
                <string>Clear</string>
                <string>Fuchsia</string>
                <string>Grey</string>
                <string>Green</string>
                <string>Lime</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Olive</string>
                <string>Orange</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Teal</string>
                <string>White</string>
                <string>Yellow</string>
			</array>

            <key>validValues</key>  <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
        	</array>
		</dict>


		<dict>
			<key>cell</key>		     	<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>			 	<string>PSButtonCell</string>
            <key>cellClass</key>            <string>HBTintedTableCell</string>
			<key>label</key>		    	<string>Apply and Respring Now</string>
			<key>action</key> 		  	<string>respring</string>
		</dict>

		<dict>
			<key>cell</key>				 <string>PSSwitchCell</string>
			<key>defaults</key>			 <string>com.insanj.circlet</string>
			<key>label</key>			    <string>Debug Logs</string>
			<key>key</key> 				 <string>debugEnabled</string>
			<key>enabled</key> 			 <true/>
			<key>default</key> 			 <false/>
		</dict>

		<dict>
			<key>cell</key>				  <string>PSGroupCell</string>
            <key>label</key>                 <string>Contact</string>
			<key>footerAlignment</key> 	  <integer>1</integer>
			<key>footerText</key>		    <string>Thanks for using Circlet! Please send all support emails directly from Cydia.</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
            <key>cellClass</key>       <string>HBTintedTableCell</string>
			<key>label</key>		   <string>@insanj</string>
			<key>icon</key> 		   <string>twitter.png</string>
			<key>action</key>  		<string>twitter</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSGroupCell</string>
			<key>label</key> 			  <string>Credits</string>
            <key>footerAlignment</key> 	<integer>1</integer>
            <key>footerText</key>          <string>© 2014 Julian Weiss</string>
		</dict>

		<dict>
			<key>cell</key> 			<string>PSTextViewCell</string>
			<key>cellClass</key>		<string>CRCreditsCell</string>
			<key>height</key> 	  	<integer>175</integer>
			<key>label</key> 		   <string>Circlet (1.0) was created by Julian Weiss (@insanj) with lots of help from Adam D (@thekirbylover). Special thanks to Aehmlo for additional development support, magn2o for troubleshooting. Inspired primarily by the awesome members of /r/jailbreak. To stay updated on Circlet (and many other projects') development, make sure to follow me on Twitter (link above). Enjoy!</string>
		</dict>

	</array>
	<key>title</key>	<string>Circlet</string>
</dict>
</plist>
