 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
         <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>label</key>        <string>Style</string>
            <key>footerText</key>   <string>Radial fills right-to-left like a clock (◔), Fill fills from bottom to top (◒), and Concentric expands and contracts an inner-circle (⦿). Inverting flips how the circle fills (empties from right to left, fills from top to bottom, expands and contracts a hollow circle).</string>
        </dict>

        <dict>
            <key>cell</key>         <string>PSSegmentCell</string>
            <key>defaults</key>     <string>com.insanj.circlet</string>
            <key>id</key>           <string>TimeStyle</string>
            <key>key</key>          <string>timeStyle</string>
            <key>label</key>        <string>Time</string>
            <key>cellClass</key>    <string>CRSegmentTableCell</string>
            <key>validTitles</key>  <array>
                <string>Radial</string>
                <string>Fill</string>
                <string>Concentric</string>
            </array>
            <key>validValues</key> <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>

        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>defaults</key>         <string>com.insanj.circlet</string>
            <key>label</key>            <string>Invert Style</string>
            <key>key</key>              <string>timeInvert</string>
            <key>enabled</key>          <true/>
            <key>default</key>          <false/>
        </dict>

        <dict>
            <key>cell</key>         <string>PSGroupCell</string>
            <key>footerText</key>   <string>Hour appears on left, Minute on right.&#10;&#10;Make sure to tap Refresh Status Bar in the main area to instantly see your changes.</string>
        </dict>

        <dict>
            <key>cell</key>         <string>PSSegmentCell</string>
            <key>defaults</key>     <string>com.insanj.circlet</string>
            <key>id</key>           <string>TimeSize</string>
            <key>key</key>          <string>timeSize</string>
            <key>label</key>        <string>Size</string>
            <key>cellClass</key>    <string>CRSegmentTableCell</string>
            <key>validTitles</key>  <array>
                <string>Small</string>
                <string>Medium</string>
                <string>Large</string>
            </array>
            <key>validValues</key> <array>
                <real>3.0</real>
                <real>4.0</real>
                <real>5.0</real>
            </array>
        </dict>

		<dict>
			<key>cell</key>  	   <string>PSLinkListCell</string>
			<key>defaults</key>    <string>com.insanj.circlet</string>
			<key>detail</key> 	   <string>CRListItemsController</string>
			<key>key</key> 		   <string>timeInnerLightColor</string>
			<key>label</key> 	   <string>Hour Light Color</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorTitles:</string>
		</dict>


        <dict>
            <key>cell</key>        <string>PSLinkListCell</string>
            <key>defaults</key>    <string>com.insanj.circlet</string>
            <key>detail</key>      <string>CRListItemsController</string>
            <key>key</key>         <string>timeInnerDarkColor</string>
            <key>label</key>       <string>Hour Dark Color</string>
            <key>titlesDataSource</key>  <string>darkColorTitles:</string>
            <key>valuesDataSource</key>  <string>darkColorValues:</string>
        </dict>

        <dict>
            <key>cell</key>        <string>PSLinkListCell</string>
            <key>defaults</key>    <string>com.insanj.circlet</string>
            <key>detail</key>      <string>CRListItemsController</string>
            <key>key</key>         <string>timeOuterLightColor</string>
            <key>label</key>       <string>Minute Light Color</string>
            <key>titlesDataSource</key>  <string>lightColorTitles:</string>
            <key>valuesDataSource</key>  <string>lightColorValues:</string>
        </dict>

        <dict>
            <key>cell</key>        <string>PSLinkListCell</string>
            <key>defaults</key>    <string>com.insanj.circlet</string>
            <key>detail</key>      <string>CRListItemsController</string>
            <key>key</key>         <string>timeOuterDarkColor</string>
            <key>label</key>       <string>Minute Dark Color</string>
            <key>titlesDataSource</key>  <string>darkColorTitles:</string>
            <key>valuesDataSource</key>  <string>darkColorTitles:</string>
        </dict>

    </array>
    <key>title</key>    <string>Time</string>
</dict>

</plist>
