<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Details</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSEditTextCell</string>
			<key>id</key> 			<string>UsernameField</string>
			<key>defaults</key>		<string>com.insanj.orangered</string>
			<key>key</key>			<string>usernameText</string>
			<key>label</key>		<string>username</string>
			<key>detail</key>		<string>PSDetailController</string>
			<key>placeholder</key>	<string>reddit</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSSecureEditTextCell</string>
			<key>id</key> 			<string>PasswordField</string>
			<key>defaults</key>		<string>com.insanj.orangered</string>
			<key>key</key>			<string>passwordText</string>
			<key>label</key>		<string>password</string>
			<key>detail</key>		<string>PSDetailController</string>
			<key>placeholder</key>	<string>hunter2</string>
		</dict>


		<dict>
			<key>cell</key>			<string>PSEditTextCell</string>
			<key>id</key> 			<string>NumberField</string>
			<key>defaults</key>		<string>com.insanj.orangered</string>
			<key>key</key>			<string>intervalText</string>
			<key>label</key>		<string>interval</string>
			<key>detail</key>		<string>PSDetailController</string>
			<key>placeholder</key>	<string>1 hour</string>
			<key>keyboard</key>		<string>phone</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>save &amp; check</string>
			<key>action</key>  		<string>save</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key> 		<string>More</string>
			<key>footerText</key> 	<string>Toggle Badges, Banners, and Sounds in Notifications.</string>
		</dict>

		<dict>
			<key>cell</key> 			<string>PSLinkCell</string>
			<key>label</key> 			<string>Activation Methods</string>
			<key>isController</key> 	<true/>
			<key>bundle</key> 			<string>LibActivator</string>			
			<key>activatorListener</key><string>libactivator.ORListener</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>id</key> 			<string>NotifyAlwaysSwitch</string>
			<key>defaults</key>		<string>com.insanj.orangered</string>
			<key>label</key>		<string>Always Notify</string>
			<key>key</key> 			<string>notifyAlways</string>
			<key>enabled</key> 		<true/>
			<key>default</key> 		<false/>
		</dict>

		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>id</key> 			<string>IntervalSwitch</string>
			<key>defaults</key>		<string>com.insanj.orangered</string>
			<key>label</key>		<string>Minute Intervals</string>
			<key>key</key> 			<string>minuteIntervals</string>
			<key>PostNotification</key> <string>com.insanj.orangered.type</string>
			<key>enabled</key> 		<true/>
			<key>default</key> 		<false/>
		</dict>

		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>id</key> 			<string>DebugLogSwitch</string>
			<key>defaults</key>		<string>com.insanj.orangered</string>
			<key>label</key>		<string>Debug Log</string>
			<key>key</key> 			<string>debugOn</string>
			<key>PostNotification</key> <string>com.insanj.orangered.debug</string>
			<key>enabled</key> 		<true/>
			<key>default</key> 		<false/>
			<key>action</key> 		<string>debugView</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key> 		<string>Contact</string>
			<key>footerText</key>	<string>Thanks for purchasing Orangered! You're running full release 1.1</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSButtonCell</string>
			<key>label</key> 		<string>   Support &amp; Feedback</string>
			<key>icon</key> 		<string>mail.png</string>
			<key>action</key> 		<string>mail</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@insanj</string>
			<key>icon</key> 		<string>twitter.png</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSLinkCell</string>
			<key>detail</key>		<string>ORAboutListController</string>
			<key>isController</key>	<true/>
			<key>label</key>		<string>About</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSLinkCell</string>
			<key>detail</key>		<string>ORHelpListController</string>
			<key>isController</key>	<true/>
			<key>label</key>		<string>Help</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cellClass</key> 	<string>PeriwinkleCell</string>
			<key>label</key> 		<string>&#169; 2013 Julian Weiss</string>
		</dict>
	</array>
	<key>title</key>	<string>Orangered</string>
</dict>
</plist>
